<div mat-dialog-title> Add User Data</div>
<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label color="primary">First Name</mat-label>
        <input matInput type="text" placeholder="Ex. Deivid" formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label color="primary">Last Name</mat-label>
        <input matInput type="text" placeholder="Ex. Cifligu" formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label color="primary">Phone Nr.</mat-label>
        <input matInput type="tel" placeholder="+355690000000" formControlName="phone">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label color="primary">Email</mat-label>
        <input matInput type="email" placeholder="name@mail.com" formControlName="email">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button class="modalButton" (click)="returnHome()">Cancle</button>
    <button mat-raised-button color="primary" type="submit" class="modalButton">Save</button>
  </div>
</form>
